	Hello <%= current_user.profile.profile_name %>. Post new FanMail:

	<%= simple_form_for @tweet do |f| %>
		<%= f.input :content %>
		<%= f.button :submit %>
	<% end %>

	<ul class="list-unstyled">
		<% @tweets.each do |tweet| %>
			<li>
				<div id="tweet">
					<%= tweet.content %><br/>
				<b>by <%= tweet.user.profile.profile_name %> at <%= tweet.created_at.strftime("%I:%M%p %m-%d-%Y ") %></b>
				</div>
			</li>
		<% end %>
	</ul>